<!DOCTYPE html>
<html>
  <head>
    <title>Choose a new password</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="./js/jquery-3.4.1.min.js"></script>
      <script src="./js/bootstrap.min.js"></script>
      <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="./css/style.css">
        <script>
          var check = function() {
              if(document.getElementById('password').value.length >= 6 )
              {
                  if (document.getElementById('password').value == document.getElementById('confirm_password').value)
                  {
                    return true
                  } else {
                      document.getElementById('message').style.color = 'red';
                      document.getElementById('message').innerHTML = "Passwords don't match";
                      return false
                  }
              }
              else{
                  document.getElementById('password_error').style.color = 'red';
                  document.getElementById('password_error').innerHTML = 'Password must have 6 characters';
                  return false
              }
          }

          function hidePasswordError() {
            document.getElementById('password_error').innerHTML = ''
          }

          function hideMessageError() {
            document.getElementById('message').innerHTML = ''
          }
      </script>
  </head>
  <body>
    <form  method="post" action="{{app_host}}/reset_password_success?token={{user_token}}">
      <div class="container-fluid"> 
        {{error_str}}
        <div class="row">
          <div class="col-lg-12 new-password">
            <h1>Choose a new password.</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="inputsm"></label>
              <input class="form-control input-lg email-input" name='password' id="password" type="password" placeholder="Password (min. 6 characters)" onfocus="hidePasswordError()">
              <span id = 'password_error'></span>
          </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3"></div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="inputsm"></label>
              <input class="form-control input-lg email-input" name='confirm_password' id="confirm_password" type="password" placeholder="Confirm password" onfocus="hideMessageError()">
              <span id='message'></span>
          </div>
          </div>
        </div>

          <input type="hidden" name = 'token' value = '{{user_token}}'/>

        <div class="row">
          <div class="col-lg-5"></div>
          <div class="col-lg-2">
            <button class="send-button" onclick="return check()" type="submit">Send</button>
          </div>
        </div>
      </div>
    </form>>
  </body>
</html>